/* CSS declarations go here */
body {
  font-family: sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

form input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

form input:focus{
  outline: 0;
}

ul, table {
  width: 100%;
  margin: 0;
  background: white;
}

.sub_table tr{
  border-bottom: none;
}

.view_toggle:hover{
  cursor: pointer;
  text-decoration: underline;
}

th, td{
  padding: 10px;
}

tr{
  border-bottom: 1px solid whitesmoke;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  form input {
    padding-bottom: 5px;
  }
}

.map_iframe_container{
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 75%;
}

/*.article_iframe{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
}*/

.instruction_box{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(39,40,34,1);
  color: whitesmoke;
  padding: 15px 20px;
}

.instruction_box a{
  color: rgba(96,210,232,1);
}

.article_iframe_container{
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  background: white;
}

.article_list_container{

  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

.article_iframe{
	width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

.selected_matches, .unselected_matches{
  display: inline-block;
}

.matching_item{
 padding: 3px 5px 3px 0;
 margin-right: 3px;
}

.unselected_matches .matching_item{

}

.selected_matches .matching_item{
  border-radius: 2px;
  border: 1px solid green;
  padding: 3px 5px;
}