<template name="list_viewer">
	<table>
		<tr>
			<th>Brain Regions</th>
			<th>Phenomena</th>
			<th>Research Paper</th>
		</tr>
		{{#each articles}}
		{{> article}}
		{{/each}}
	</table>
	
</template>

<template name="article">
	<tr>
		<td>{{> brain_regionList brain_region}}</td>
		<td>{{> phenomenaList phenomena}}</td>
		<td><a href="{{url}}">{{title}}</a></td>
	</tr>
</template>

<template name="brain_regionList">
	{{#each this}}
	{{name}}<br>
	{{/each}}
</template>

<template name="phenomenaList">
	{{#each this}}
	{{name}}<br>
	{{/each}}
</template>