<template name="submission_form">
	<header>
		<h1>Article List</h1>
		<form class="new-search">
			<div class="input_container" name="url">
				<input type="text" name="url" placeholder="Enter the URL" />
			</div>
		</form>
		<!-- removed class hidden for debugging -->
		<form class="new-article hidden">
			{{#each input_fields}}
			{{> input_field}}
			{{/each}}
			<input type="submit">
		</form>
	</header>
</template>

<template name="input_field">
	<div class="input_container" name={{name}}>
		<input type="text" name="{{name}}" placeholder="{{placeholder}}" />
		<div class="matching_field hidden" name={{name}}>
			<div class="selected_matches hidden"></div>
			<div class="unselected_matches">
			</div>
		</div>
	</div>
</template>